<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>AI Consultant - Alex Kelin</title>
  <!-- Description-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicons/1.svg">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicons/1.svg">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://guidance-ai.com/">
  <meta property="og:title" content="Portfolio Alex Kelin">
  <meta property="og:description" content="AI Consultant - Alex Kelin: Bridging AI and business together for transformative solutions">
  <meta property="og:image" content="https://guidance-ai.com/static/img/new_main.jpg"> <!-- Large image for better resolution on platforms like Facebook -->
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1080">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://guidance-ai.com/static/img/main_small.png"> <!-- Smaller image optimized for quicker loads on platforms like Twitter -->

  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <!-- CSS vendors-->
  <link rel="stylesheet" href="../static/css/bootstrap-custom.css">
  <link rel="stylesheet" href="../static/css/tiny-slider.css">
  <link rel="stylesheet" href="../static/css/lity.min.css">
  <link rel="stylesheet" href="../static/css/simplebar.min.css">
  <link rel="stylesheet" href="../static/css/jquery.mb.YTPlayer.min.css">
  <link rel="stylesheet" href="../static/css/ionicons.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="../static/css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="../static/css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
</head>



<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="../static/img/favicons/apple-touch-icon.png" alt="Logo" style="display: none"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="https://calendly.com/9272107/consultation">Book a Meeting</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(../static/img/new_main.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center shift-left-lg">
          <h1 class="home-name">Alex <span>Kelin</span></h1>
          <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline"><b class="is-visible" style="color: #26a98b">Software Engineer</b><b style="color: #26a98b">AI Consultant</b><b style="color: #26a98b">Project Manager</b></span></h4>
                <div class="mt-4 text-center">
  <a class="btn content-download button-main button-scheme about-me-btn" href="#about" role="button">About Me</a>
</div>

        </div>
      </div>
    </div>
    <div class="fixed-wrapper">

      <!-- Social media icons-->
  <!-- Social media icons-->
<div class="fixed-block block-right" style="display: none;">
  <ul class="list-unstyled social-icons">
    <li><a href="#0" aria-label="Twitter"><i class="icon ion-logo-twitter"></i></a></li>
    <li><a href="#0" aria-label="Facebook"><i class="icon ion-logo-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/in/alexkelin/" aria-label="LinkedIn"><i class="icon ion-logo-linkedin"></i></a></li>
    <li><a href="#0" aria-label="GitHub"><i class="icon ion-logo-github"></i></a></li>
    <li><a href="#0" aria-label="Instagram"><i class="icon ion-logo-instagram"></i></a></li>
  </ul>
</div>

    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="../static/img/info-img.png" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <div class="content-description">
                      <p>As a Software Engineer and AI Consultant with dual Master's degrees in Business and Computer Science, I specialize in optimizing operations, devising strategic frameworks, and implementing artificial intelligence. <br>My goal is to equip organizations with the capabilities to utilize AI effectively, transforming innovative ideas into concrete solutions that propel them to the forefront of technological evolution and business excellence.</p>
                  <h6 class="content-subtitle">Expertise</h6>
                    <ul>
  <li>AI implementation</li>
  <li>Business Optimization</li>
  <li>Project Management</li>
  <li>Data Science</li>
</ul>
<!-- Additional Experience List -->
<h6 class="content-subtitle">Education</h6>
<ul>
  <li>Statistics and Data Science, MIT MicroMaster’s degree</li>
  <li>Computer Science, Master’s degree</li>
  <li>International Business, Master’s degree</li>
  <li>Management & Economics, Bachelor’s degree</li>
</ul>
</div>
<div class="d-block d-sm-flex align-items-center" style=" margin-left: 10px">
<a class="btn content-download button-main button-scheme"  href="https://calendly.com/9272107/consultation" role="button">Book Meeting</a>
<!-- New Button -->
<a class="btn content-download button-main button-scheme" href="#portfolio" role="button">Portfolio</a>
</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section" >
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://www.unboundway.com">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/1.png">
                      <div class="item-content">
                        <h6 class="content-title">Unbound</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://github.com/AlexKelin">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/2.png">
                      <div class="item-content">
                        <h6 class="content-title">GitHub</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://github.com/AlexKelin/Worksheets">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/3.png">
                      <div class="item-content">
                        <h6 class="content-title">Worksheets</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://www.youtube.com/watch?v=8a0iRoFUGqY&t=2373s">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/5.png">
                      <div class="item-content">
                        <h6 class="content-title">Lecture</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://www.youtube.com/channel/UCP6zSiJbbQUsS6gNg41dpbg">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/4.png">
                      <div class="item-content">
                        <h6 class="content-title">Youtube</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://www.linkedin.com/in/alexkelin/">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/6.png">
                      <div class="item-content">
                        <h6 class="content-title">LinkedIn</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                  <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://medium.com/@9272107">
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../static/img/7.png">
                      <div class="item-content">
                        <h6 class="content-title">Publications</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                
                <!-- Contact form-->
<!-- Contact form-->
<div class="col-12 col-lg-7">
  <form class="contact-form" id="contact-form" action="https://formspree.io/f/mwkgoyjo" method="POST">
    <h4 class="content-title">Message Me</h4>
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required="">
      </div>
      <div class="col-12 col-md-6 form-group">
        <input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required="">
      </div>
      <div class="col-12 form-group">
        <textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea>
      </div>
      <div class="col-12 form-submit" style="text-align: center;">
        <input type="hidden" name="_captcha" value="false">
        <button class="btn button-main button-scheme" id="contact-submit" type="submit" style="font-size: 110%; line-height: 1.5; padding: 10px 20px; margin-top: 10px; background: #26A98B; color: white;">Send Message</button>
        <p class="contact-feedback"></p>
      </div>
    </div>
  </form>
</div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts-->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/imagesloaded.pkgd.min.js"></script>
  <script src="../static/js/isotope.pkgd.min.js"></script>
  <script src="../static/js/animatedModal.js"></script>
  <script src="../static/js/tiny-slider.js"></script>
  <script src="../static/js/lity.min.js"></script>
  <script src="../static/js/simplebar.min.js"></script>
  <script src="../static/js/jquery.mb.YTPlayer.min.js"></script>
  <script src="../static/js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="../static/js/custom.js"></script>
</body>

</html>
